@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
  background-color: #D8D7FF!important;
  color: black;
}

.play{
  position: relative;
  top:-250px;
  left: 700px;
}


.register{
  position: relative;
  top: 20px;
  left: 85px;
  width: 200px;
  height: 100px;
font-family: "Montserrat";
}

.login{
  position: relative;
  top: 20px;
  left: 102px;
  width: 200px;
  height: 100px;
font-family: "Montserrat";
}
.color {
  color: red;
  font-size: 14px;
  position: relative;
  bottom: 21px;
  left: 7px;
  text-decoration: underline;
}

.boton {
  top: 500px;
  background-color:#FFFFEA;
  color: #000000;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  border-style: solid;
  border-color: black;
  position: relative;
top: 20px;
left: 0px
}

.form {
 position: relative;
  top: -500px;
  max-width: 400px;
  margin: 0 auto;
  padding: 26px;
  background-color:#FFFFEA;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  
}

.field {
  width: 100%;
  margin-bottom: 24px;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #000000;
  border-radius: 8px;
  background-color: #FFFFEA;
  color: #000000;
}

.titulofield{
font-size: 20px;
font-family:Georgia, 'Times New Roman', Times, serif;
font-weight: 700;
}

.switch{
  
  background-color:#FFFFEA!important;
  color: black;
  width: 90px;
}

.switch2{
 
  background-color:#FFFFEA!important;
  color: black;
  
}


.boton2{
 position: relative;
  left:260px;
top: -20px;
}

.link{
  color: #000000;
}

.box{
  position: relative;
  top: 10000px !important;;
}


.rating{
 
}

.triangulossuben{
  position: relative;
left: -300px;
top: 100px;
}

.triangulosbajan{
  position: relative;
  left: 720px;
  top: 100px;
}