@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";



/*MODO OSCURO*/
.darkMode {
  background-color: rgb(12, 12, 12) !important;
}

.fondodark {
  position: relative;
  left: 1750px;
  bottom: 100px;
  padding: 5px;
  background-color: #404040;
  width: 90px;
  border-radius: 10px;
  color: white;
  display: grid;
  place-items: center;
}

.fondodark2 {
  position: relative;
  left: 1740px;
  bottom: 65px;
  padding: 5px;
  background-color: #404040;
  width: 90px;
  border-radius: 10px;
  color: white;
  display: grid;
  place-items: center;
}

.fondodark1 {
  position: relative;
  left: 1750px;
  bottom: 80px;
  padding: 5px;
  background-color: #404040;
  width: 100px;
  border-radius: 10px;
  color: white;
  display: grid;
  place-items: center;
}


body {
  background-color: #c2c2c2 !important;
  color: black;
}

.play {
  position: relative;
  height: 90px;
  top: 30px;
  left: 668px;
}

/*REGISTER Y LOGIN*/

.register {
  position: relative;
  top: 20px;
  left: 85px;
  width: 200px;
  height: 100px;
  font-family: "Montserrat";
}

.login {
  position: relative;
  top: 20px;
  left: 102px;
  width: 200px;
  height: 100px;
  font-family: "Montserrat";
}

.link {
  color: #000000;
}

.color {
  color: red;
  font-size: 14px;
  position: relative;
  bottom: 21px;
  left: 7px;
  text-decoration: underline;
}

.colorcheck {
  color: red;
  font-size: 14px;
  text-decoration: underline;
}


.boton {
  top: 500px;
  background-color: #FFFFEA;
  color: #000000;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  border-style: solid;
  border-color: black;
  position: relative;
  top: 20px;
  left: 0px
}

.form {
  position: relative;
  top: 60px;
  max-width: 400px;
  margin: 0 auto;
  padding: 26px;
  background-color: #FFFFEA;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
}

.field {
  width: 100%;
  margin-bottom: 24px;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #000000;
  border-radius: 8px;
  background-color: #FFFFEA;
  color: #000000;
}

.titulofield {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
}

.botonregylog {
  position: relative;
  left: 260px;
  top: -20px;
}

/*MAIN*/

.nuevoProducto {
  position: relative;
  text-align: center;
  left: 1450px;
  bottom: 2720px;
  background-color: lightblue;
  width: 150px;
  height: 25px;
  border-style: solid;
  border-color: #5a5a5a;
}

.ini {
  position: absolute;
  text-align: center;
  left: 1600px;
  top: 50px;
  background-color: rgb(255, 255, 255);
  width: 105px;
  height: 25px;
  border-style: solid;
  border-color: #000000;
  color: #000000;
  border-radius: 5px;
}

.fondoimg {
  background-color: #ffffff !important;
  color: rgb(0, 0, 0);
  position: relative;
  left: 19px;
  display: flex;
  justify-content: space-between;
  place-items: left;
  padding: 1%;
  height: 290px;
  width: 1750px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(12, 12, 12);
  border-bottom-right-radius: 90px;
  border-right-width: 10px;
  border-bottom-width: 10px;
  cursor: pointer;
}

.img {
  height: 220px;
  width: 200px;
  border-radius: 15px;
}

.navigation {
  width: 600px;
  position: relative;
  font-size: 25px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  color: black;
  text-align: center;
  border-radius: 10px;
  left: 345px;
  font-family: "Roboto Slab";

}

.buscar {
  position: relative;
  top: -3px;
  left: 350px;
  height: 55px;
  width: 60px;
  border-radius: 15px;
}

.adminuser {
  position: relative;
  text-align: center;
  left: 1650px;
  bottom: 73px;
  background-color: orange;
  width: 80px;
  height: 21px;
  border-radius: 10px;
  border-style: solid;
  border-color: #5a5a5a;
}

.subs {
  background-color: white;
  border-radius: 12px;
  width: 220px;
  height: 40px;
  text-align: center;
  font-family: "Roboto Slab";
  text-decoration: underline;
  position: relative;
  left: 5px;
  top: 10px;
  border-style: inset;
}

.playmain {
  position: relative;
  width: 400px;
  height: 70px;
  top: 20px;
  left: 20px;
}

.caidaproductos {
  position: relative;
  left: 800px;
  top: -35px;
  font-family: "Roboto Slab";

  width: 100px;
}


/*productos*/

.productos {
  background-color: #ffffff;
  width: 450px;
  height: 450px;
  position: relative;
  left: 50px;
  border-radius: 15px;
  border-color: black;
  border-style: solid;
  bottom: 75px;
}

.productosComprar {
  background-color: #ffffff;
  width: 400px;
  height: 400px;
  position: relative;
  left: 1300px;
  bottom: 400px;
  border-radius: 15px;
  border-color: black;
  border-style: solid;
}

.productosDesc {
  background-color: #000000;
  width: 1700px;
  height: 325px;
  color: white;
  position: relative;
  left: 50px;
  top: 100px;
  border-radius: 15px;
  border-color: black;
  border-style: solid;
}

.fotoP {
  width: 400px;
  height: 400px;
  position: relative;
  left: 25px;
  top: 10px;
}

.desc {
  text-align: center;
  text-decoration: underline;
}

.productoNombre {
  position: relative;
  left: 35px;
}

.productoTexto {
  position: relative;
  left: 20px;
  width: 1550px;
  font-size: 21px;
}

.nombreproducto {
  position: relative;
  text-align: center;
  font-size: 30px;
  left: 650px;
  top: 80px;
  height: 35px;
  font-family: "Roboto Slab";
  background-color: white;
  width: 600px;
  border-radius: 5px;
  border: #000000;
  border: solid;
  border-width: 2px;
}

.precioproducto {
  position: relative;
  text-align: center;
  font-size: 30px;
  left: 800px;
  top: 90px;
  font-family: "Roboto Slab";
  background-color: white;
  width: 300px;
  border-radius: 5px;
  border: #000000;
  border: solid;
  border-width: 2px;
}

.dropbtn {
  background-color: #393939;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  left: 660px;
  position: relative;
  top: 100px;
  border: solid;
  border-color: white;
  border-width: 1px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 660px;
  top: 150px;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown:hover .dropbtn {
  background-color: #393939;
  border-radius: 5px;
  border: solid;
  border-color: white;
  border-width: 1px;
}

.botonahora {
  position: relative;
  left: 90px;
  top: 70px;
  width: 220px;
  height: 60px;
  font-family: 'Roboto Slab';
  font-size: 20px;
  border-color: black;
  background-color: rgb(32, 255, 32);
  border-radius: 10px;
}

.botonagregar {
  position: relative;
  left: 90px;
  top: 80px;
  width: 220px;
  height: 60px;
  font-family: 'Roboto Slab';
  font-size: 20px;
  border-color: black;
  background-color: rgb(58, 219, 255);
  border-radius: 10px;
}

.envio {
  position: relative;
  top: 150px;
  left: 20px;
  font-size: 30px;
  font-family: 'Roboto Slab';
}

.botoneliminar {
  position: relative;
  left: 90px;
  top: 70px;
  width: 220px;
  height: 60px;
  font-family: 'Roboto Slab';
  font-size: 20px;
  border-color: black;
  background-color: rgb(245, 58, 58);
  border-radius: 10px;
}

/* LISTAPRODUCTOS */

.containerProductos {
  border: 2px solid #012430;
  border-radius: 15px;
  width: 300px;
  padding: 12px;
  background-color: #f3f0f0;
  position: relative;
  left: 100px;
}

.productosListado {
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #012430;
  border-radius: 9px;
  background-color: #ADD8E6;
  color: rgb(3, 0, 0);
  font-size: 17px;
  cursor: pointer;
}

.productosListado:hover {
  background-color: #82c4e3;
}

.buscadorProductos {
  border: 1px solid;
  border-radius: 7px;
  width: 1000px;
  bottom: 355px;
  background-color: rgb(241, 241, 241);
  padding:  15px ;
  position: relative;
  left: 550px;
  display: flex;
  flex-wrap: wrap;
}

.cardProducto {
  border: 2px solid;
  border-radius: 7px;
  width: 980px;
  height: 270px;
  background-color: rgb(190, 237, 255);
  position: relative;
  left: 10px;
  top: 5px;
  margin-bottom: 15px;
}

.imgListado{
  width:260px;
  height:270px;
  background-color: white;
}



.detalles{
  position: relative;
  left: 300px;
  bottom: 280px;
}

.sto{
position: relative;
top: 10px;
}

.co{
position: relative;
top: 15px;
}

.verP{
height: 50px;
width: 200px;
border: solid;
border-radius: 5px;
position: relative;
left: 400px;
bottom: 20px;
font-size:larger;
background-color: #ffffff;
color: rgb(32, 199, 255);
border-color: #000000;
cursor: pointer;
}

.verP:hover {
  background-color: #def2fc;
}

/* CARRITO */

.carritoProducto {
  background-color: rgb(197, 197, 197);
  width: 1332px;
  min-height: 700px; 
  position: relative;
  bottom: 20px;
  left: 20px;
  border: 2px solid #000000;
  border-radius: 10px;
  overflow: auto;
}

.productoElegido {
  position: relative;
  background-color: white;
  width: 950px;
  height: 200px;
  margin-bottom: 12px;
  top: 25px;
  left: 30px;
  border-radius: 10px;
  border-style: solid;
  border-color: #393939;
  border-width: 2px;
}

.fotonisuta {
  position: relative;
  height: 180px;
  width: 190px;
  top: 10px;
  left: 45px;
}

.divisor {
  position: absolute;
  background-color: #000000;
  width: 2px;
  height: 100%;
  left: 1009px;
  bottom: 30px;
  border-radius: 10px;
}


.divisor1 {
  position: absolute;
  background-color: #000000;
  width: 400px;
  height: 2px;
  top: 520px;
  left: 25px;
  border-radius: 10px;
}

.textoProducto {
  font-family: 'Roboto Slab';
  position: relative;
  bottom: 130px;
  left: 350px;
}

.valorproducto {
  background-color: white;
  font-family: 'Roboto Slab';
  height: 200px;
  width: 250px;
  border-radius: 10px;
  border-style: solid;
  border-color: #393939;
  border-width: 2px;
  position: relative; 
  align-items: center;
  display: flex;
  justify-content: center;  
  left: 999px;
  bottom: 272px;
}

.comprarProducto {
  background-color: rgb(224, 224, 224);
  width: 453px;
  height: 600px;
  position: absolute;
  top: 223px;
  left: 1390px;
  border-radius: 10px;
  border-color: #000000;
  border-style: solid;
  display: flex;
  justify-content: center;
}

.fin {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 100px;
  top: 640px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border-color: #000000;
  border-style: solid;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
}

.nombreEnLista {
  position: relative;
  font-size: 27px;
  font-family: 'Roboto Slab';
  top: 20px;
  margin-bottom: 10px;
}

.precioTotal {
  position: absolute;
  top: 515px;
  font-family: 'Roboto Slab';
}

/* FOOTER*/

footer {
  background-color: #1d1a1a;
  color: #fff;
  padding: 10px;
}

.footerContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer {
  flex: 1;
  margin: 10px;
}



.footer h3 {
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.footer-section p {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
  text-decoration: none;
}


.footerCopy {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #fff;
  padding-top: 10px;
}

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
